* {
margin: 0;
padding: 0;
}

.circle {
	width: 100px;
	height: 100px;
	border-radius: 50px;
	overflow: hidden;
}

#headder {
	margin-left: 1em;
	margin-top: -104px;
	width: 95%;
	height: 100px;
	background-color: #FFCC33;
	border-radius: 0 0 0 50px;
	position: fixed;
}

#headimg {
	height: 100px;
}

.event {
	height: 50px;
	width: 95%;
	margin-left: 1em;
	background-color: #FFEE55;
	margin-top: 2px;
	margin-bottom: 2px;
}

.event:nth-child(even) {
	background-color: #FFFF77;
}

.event:first-child {
	margin-top: 104px;
}

.date {
	color: #333333;
	margin-left: 10px;
	font-size: 2em;
	font-family: "Arial Black", Gadget, sans-serif;
}

.month {
	
	font-size: 12px;
	display: inline-block;
	-moz-transform: rotate(-90deg);
}
